<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        @keyframes shake{
    0%{transform:translateX(0) rotate(-30deg)}
    50%{transform:translateX(80px) rotate(30deg)}to{transform:translateX(0) rotate(-30deg)}}
@keyframes fall{
    0%{transform:translateY(0)}to{transform:translateY(calc(100vh + 16px))}}
.flake{
    width:8px;
    height:16px;
    animation-name:
    shake;animation-timing-function:
    cubic-bezier(.445,.05,.55,.95);
    animation-iteration-count:infinite;
    animation-play-state:running;
    will-change:transform
}
.flake_base{
    top:-16px;
    position:fixed;
    animation-name:fall;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-play-state:running
}
    </style>
    <title>welcome! <%= nickname %></title>
</head>
<body>
    <h1>반가워요. <%= nickname %>님</h1>
    <h5>여러가지 색다른 만남을 즐겨보아요.</h5>

    <a href="/">어떤 만남이 있나 보러갈까요?</a>


    <div class="flake_base" style="left: 29.848208868849333%; animation-delay: 0.9005926143335863s; animation-duration: 6.2684046163298675s; ">
            <div class="flake" style="background: #057f75; animation-duration: 2.0660829568263455s; animation-delay: 0.9005926143335863s; "></div></div>
          <div class="flake_base" style="left: 91.53287182983235%; animation-delay: 7.612212870906445s; animation-duration: 2.239406874210469s; ">
            <div class="flake" style="background: #a52626; animation-duration: 2.8987907824077848s; animation-delay: 7.612212870906445s; "></div></div>
          <div class="flake_base" style="left: 81.19147663898578%; animation-delay: 4.991819067076233s; animation-duration: 2.0897643825288688s; ">
            <div class="flake" style="background: #000080; animation-duration: 2.5515295154405444s; animation-delay: 4.991819067076233s; "></div></div>
          <div class="flake_base" style="left: 94.18210591297908%; animation-delay: 6.481899813854131s; animation-duration: 2.8577943595161464s; ">
            <div class="flake" style="background: #ff8f8f; animation-duration: 1.6983015256043332s; animation-delay: 6.481899813854131s; "></div></div>
          <div class="flake_base" style="left: 66.77268200344308%; animation-delay: 5.464899993580763s; animation-duration: 2.9494257313487386s; ">
            <div class="flake" style="background: #0060ff; animation-duration: 1.5115076873060698s; animation-delay: 5.464899993580763s; "></div></div>
          <div class="flake_base" style="left: 65.74497163112407%; animation-delay: 8.445236347314918s; animation-duration: 2.288185936198958s; ">
            <div class="flake" style="background: #044640; animation-duration: 2.9898205795735513s; animation-delay: 8.445236347314918s; "></div></div>
          <div class="flake_base" style="left: 41.833083706667786%; animation-delay: 0.15741812294353785s; animation-duration: 5.503752686298434s; ">
            <div class="flake" style="background: #a1dcc8; animation-duration: 2.1287495595544663s; animation-delay: 0.15741812294353785s; "></div></div>
          <div class="flake_base" style="left: 17.305011158837935%; animation-delay: 1.9159222457296243s; animation-duration: 6.670495944761481s; ">
            <div class="flake" style="background: #eb5757; animation-duration: 2.6453232865581677s; animation-delay: 1.9159222457296243s; "></div></div>
          <div class="flake_base" style="left: 93.07465665258725%; animation-delay: 6.6199241270225695s; animation-duration: 6.7719393234363805s; ">
            <div class="flake" style="background: #b8dcff; animation-duration: 2.39459197149315s; animation-delay: 6.6199241270225695s; "></div></div>
          <div class="flake_base" style="left: 60.463677938157986%; animation-delay: 4.024723360214201s; animation-duration: 2.332622757426578s; ">
            <div class="flake" style="background: #057f75; animation-duration: 1.401750600992755s; animation-delay: 4.024723360214201s; "></div></div>
          <div class="flake_base" style="left: 84.25433104260196%; animation-delay: 5.692197613329193s; animation-duration: 4.942623762192836s; ">
            <div class="flake" style="background: #a52626; animation-duration: 2.7412798726814773s; animation-delay: 5.692197613329193s; "></div></div>
          <div class="flake_base" style="left: 87.04231311049027%; animation-delay: 3.138504007606251s; animation-duration: 2.4805603458998533s; ">
            <div class="flake" style="background: #000080; animation-duration: 2.706910280348774s; animation-delay: 3.138504007606251s; "></div></div>
          <div class="flake_base" style="left: 81.50888479806575%; animation-delay: 5.095275316632851s; animation-duration: 2.242078160972282s; ">
            <div class="flake" style="background: #ff8f8f; animation-duration: 1.9766077383611425s; animation-delay: 5.095275316632851s; "></div></div>
          <div class="flake_base" style="left: 0.05515871324275334%; animation-delay: 4.6322285597297475s; animation-duration: 2.3964623785175228s; ">
            <div class="flake" style="background: #0060ff; animation-duration: 1.666289991597838s; animation-delay: 4.6322285597297475s; "></div></div>
          <div class="flake_base" style="left: 92.26963945779607%; animation-delay: 9.097052214370452s; animation-duration: 6.0239309395126766s; ">
            <div class="flake" style="background: #044640; animation-duration: 2.5398031991179204s; animation-delay: 9.097052214370452s; "></div></div>
          <div class="flake_base" style="left: 46.097349006382736%; animation-delay: 3.7525751020063325s; animation-duration: 3.727083825939799s; ">
            <div class="flake" style="background: #a1dcc8; animation-duration: 1.4128014930753983s; animation-delay: 3.7525751020063325s; "></div></div>
          <div class="flake_base" style="left: 42.17604385492506%; animation-delay: 6.701432683616508s; animation-duration: 4.016255957375507s; ">
            <div class="flake" style="background: #eb5757; animation-duration: 2.7769827657986985s; animation-delay: 6.701432683616508s; "></div></div>
          <div class="flake_base" style="left: 51.57813439443426%; animation-delay: 9.022280474074833s; animation-duration: 5.129537693555533s; ">
            <div class="flake" style="background: #b8dcff; animation-duration: 1.790319316623703s; animation-delay: 9.022280474074833s; "></div></div>
          <div class="flake_base" style="left: 35.32565779769139%; animation-delay: 8.10688618976927s; animation-duration: 2.664393960417323s; ">
            <div class="flake" style="background: #057f75; animation-duration: 2.946008754685688s; animation-delay: 8.10688618976927s; "></div></div>
          <div class="flake_base" style="left: 95.60691258845284%; animation-delay: 0.06763208803585385s; animation-duration: 2.229973295666671s; ">
            <div class="flake" style="background: #a52626; animation-duration: 2.6215377966652706s; animation-delay: 0.06763208803585385s; "></div></div>
          <div class="flake_base" style="left: 84.20430852559373%; animation-delay: 0.19095212326786903s; animation-duration: 6.425123968577742s; ">
            <div class="flake" style="background: #000080; animation-duration: 1.507520746565433s; animation-delay: 0.19095212326786903s; "></div></div>
          <div class="flake_base" style="left: 11.19373283291032%; animation-delay: 7.720743542969952s; animation-duration: 4.4226609449937s; ">
            <div class="flake" style="background: #ff8f8f; animation-duration: 2.119745205709182s; animation-delay: 7.720743542969952s; "></div></div>
          <div class="flake_base" style="left: 93.36255531482674%; animation-delay: 7.627752047538399s; animation-duration: 2.7553966206320792s; ">
            <div class="flake" style="background: #0060ff; animation-duration: 1.8957751467398758s; animation-delay: 7.627752047538399s; "></div></div>
          <div class="flake_base" style="left: 60.55232563660651%; animation-delay: 7.977630488842289s; animation-duration: 3.648624356586448s; ">
            <div class="flake" style="background: #044640; animation-duration: 1.5632800293627138s; animation-delay: 7.977630488842289s; "></div></div>
          <div class="flake_base" style="left: 62.99314365165165%; animation-delay: 0.27455579582857936s; animation-duration: 5.943284849600369s; ">
            <div class="flake" style="background: #a1dcc8; animation-duration: 1.1358005901677863s; animation-delay: 0.27455579582857936s; "></div></div>
          <div class="flake_base" style="left: 98.59013714306488%; animation-delay: 1.8948470804630402s; animation-duration: 3.869219206174886s; ">
            <div class="flake" style="background: #eb5757; animation-duration: 2.4759897851901917s; animation-delay: 1.8948470804630402s; "></div></div>
          <div class="flake_base" style="left: 30.904589281215202%; animation-delay: 3.4278905617085487s; animation-duration: 2.880298198952245s; ">
            <div class="flake" style="background: #b8dcff; animation-duration: 1.1941829426993915s; animation-delay: 3.4278905617085487s; "></div></div>
          <div class="flake_base" style="left: 40.04778840334073%; animation-delay: 4.786328880161803s; animation-duration: 6.025903857569768s; ">
            <div class="flake" style="background: #057f75; animation-duration: 2.3432288784448816s; animation-delay: 4.786328880161803s; "></div></div>
          <div class="flake_base" style="left: 51.39705348459525%; animation-delay: 4.9611683548669365s; animation-duration: 6.581674888470424s; ">
            <div class="flake" style="background: #a52626; animation-duration: 2.248576590124997s; animation-delay: 4.9611683548669365s; "></div></div>
          <div class="flake_base" style="left: 5.9908089770342565%; animation-delay: 2.059639089668792s; animation-duration: 2.5991362004392533s; ">
            <div class="flake" style="background: #000080; animation-duration: 1.6302787714578408s; animation-delay: 2.059639089668792s; "></div></div>
          <div class="flake_base" style="left: 37.4181961759976%; animation-delay: 4.148093826815291s; animation-duration: 5.800672558052227s; ">
            <div class="flake" style="background: #ff8f8f; animation-duration: 1.409545231159158s; animation-delay: 4.148093826815291s; "></div></div>
          <div class="flake_base" style="left: 27.46334907644976%; animation-delay: 3.00640124307636s; animation-duration: 4.599380655819877s; ">
            <div class="flake" style="background: #0060ff; animation-duration: 2.676569608161403s; animation-delay: 3.00640124307636s; "></div></div>
          <div class="flake_base" style="left: 32.07929784451324%; animation-delay: 7.020545468580757s; animation-duration: 5.470113320668374s; ">
            <div class="flake" style="background: #044640; animation-duration: 1.2500358226512271s; animation-delay: 7.020545468580757s; "></div></div>
          <div class="flake_base" style="left: 79.31827248288705%; animation-delay: 8.561154374943698s; animation-duration: 5.240494600153259s; ">
            <div class="flake" style="background: #a1dcc8; animation-duration: 1.6136675943862615s; animation-delay: 8.561154374943698s; "></div></div>
          <div class="flake_base" style="left: 84.34745726955893%; animation-delay: 6.739709488974808s; animation-duration: 3.936470334227537s; ">
            <div class="flake" style="background: #eb5757; animation-duration: 2.0613808665138067s; animation-delay: 6.739709488974808s; "></div></div>
            


    
</body>
</html>