<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>내가 꿈꾸던 만남! 여기에 다이소</title>
</head>
<body>
    <header>
        여기에 메뉴

    </header>
    <container>
        <div class="category">
            여기에 카테고리

        </div>
        <div class="post-list">
            여기에 글 리스트

        </div>
        <div><button id="">글쓰기</button></div>
    </container>

    <script>
    
    </script>
</body>

</html>