<!DOCTYPE html>
<html lang="en" dir="ltr" class="Expand">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/main/main.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="Expand">
    <div class="fater Expand D(g)">
      <div class="box info D(f) Fd(c) Jc(Sb)">
        <div class="box logo W(25%) H(100%)"></div>
        <div class="box infoCate W(40%) H(100%) D(f) As(e)">
          <div class="info_menu">참여예정(2)</div>
          <div class="mypage info_menu">내정보</div>
          <div class="info_menu">로그아웃</div>
          <div class="info_menu">(검색기능_사진)</div>
        </div>
      </div>
      <div class="H(100%)">
      <div class="box category D(g) Gtc(6,1) H(100%)">
        <div class="box c-c"></div>
        <div class="box c-c"></div>
        <div class="box c-c"></div>
        <div class="box c-c"></div>
        <div class="box c-c"></div>
        <div class="box c-c"></div>
    </div>
  </div>
      <div class="box list D(g) Gg(3) Gar(100) Gtc(4,1)">
        <div class="list-box"></div>
        <div class="list-box"></div>
        <div class="list-box"></div>
        <div class="list-box"></div>
        <div class="list-box"></div>
        <div class="list-box"></div>
        <div class="list-box"></div>
        <div class="list-box"></div>
        <div class="list-box"></div>
        <div class="list-box"></div>
        <div class="list-box"></div>
        <div class="list-box"></div>
      </div>
    </div>
    <script src="./main/main.js"></script>
  </body>
</html>
