



.info {
}
.logo {
  background-color: white;
}
.category {
  background-color: black;
}
.c-c {
  background-color: white;
}
.infoCate {
  background-color: white;
}
.list {
  background-color: blue;
}
.list-box {
  background: #2d3436;
}
