<!DOCTYPE html>
<html lang="en" dir="ltr" class="Expand">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/login/main.css">
  </head>
  <!-- <body class="Expand"> -->
    <body>
      <form action="/login" method="post">
      <div id="loginWindow">
        <div>nearbyFriends</div>
        <div id="userNameBar">
          <input type="text" name="userName" placeholder="username">
        </div>
        <div id="passwordBar">
            <input type="text" name="password" placeholder="password">
          </div>
          <input type="submit" value="login">
        </form>
          <form action="/join">
            <input type="submit" value="join">
          </form>
      </div>
    <!-- <div id="cf3" class="Expand">
      <div class="Expand BdB pos(a) Z(0)">
        <div class="pos(a) Z(2) W(100%)">
          <div class="placard"> <%= email_adress %></div>
        </div>
        <img class="pos(a) bottom Expand" src="/login/img/bonding_img_0001.jpg" />
        <img class="pos(a) top Expand" src="/login/img/sunset_img_0001.jpg" />
        <div class="H(100%) centerAlign">
          <button type="button" id="js-login_button" name="button" class="logBut Z(0)">로그인</button>
        </div>
      </div>
    </div> -->
    <!-- <div id="modal-manage"></div> -->
  </body>
  <script src="main.js"></script>
  <script src="login.js"></script>
</html>
